node_modules
**/node_modules
Archive
**/Archive
logs
**/logs
tmp
**/tmp
*.log
*.pid
*.tar
*.zip
*.onnx
*.pt
*.pth
.git
.gitignore
.vscode
**/.vscode
.idea
**/.idea
dist
**/dist
build
**/build
coverage
**/coverage
tests
**/tests
__pycache__
**/__pycache__
*.md
*.txt
